#form-section{
  height: 50vh;
  background-image: url("/img/176850.jpg");
  background-size: cover;

}
.blackout{
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: 1;
}

//#test-form{
//  width: 100px;
//  height: 100px;
//  background-color: #ff0000;
//}

//FORM LOGIN
#login-form-email{
  background: #000;
}