.additional-info.is-hidden {
  display: none;
}

.open-card {
  background: #2b1f1e;
}
.close-card {
  background: #555555;
}

.card {
  width: 300px;
}

.high-priority {
  border: 2px red solid;
}
.medium-priority {
  border: 2px green solid;
}
.low-priority {
  border: 2px yellow solid;
}